---
layout: layouts/home.njk
permalink: /posts/
eleventyNavigation:
  key: Archive
  order: 2
---

<h1 class="text-4xl p-4">Archive</h1>
{% set postslist = collections.posts %}
{% include "postslist.njk" %}
