---
layout: layouts/home.njk
permalink: /works/
eleventyNavigation:
  key: Works
  order: 4
---


{% include 'partials/works-hero.njk' %}
<div class="grid grid-cols-1 lg:grid-cols-2 pt-4">
  {% for vid in videos.vimeo %}
    <iframe src={{ vid }} width="640" height="564" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
  {% endfor %}
</div>

<h2 class="text-6xl text-center">twitter dreams</h2>

<div class="grid grid-cols-1 lg:grid-cols-2 pt-4">
  {% for vid in videos.dreams %}
    <iframe src={{ vid }} width="640" height="564" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
  {% endfor %}
</div>
