<ol reversed  class="list-none">
  {% for post in postslist | reverse %}
    <li>
      <a href="{{ post.url | url }}" class="my-2">
        {{  ((postslistCounter or postslist.length)) - loop.index0}}.
        {% if post.data.title %}{{ post.data.title }}{% else %}
          <code>{{ post.url }}</code>
        {% endif %}
      </a>
      <time class="text-gray-500 text-sm" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
      {% for tag in post.data.tags %}
        {%- if collections.tagList.indexOf(tag) != -1 -%}
          {% set tagUrl %}/tags/{{ tag }}/{% endset %}
          <sup class=" hover:animate-pulse"><a href="{{ tagUrl | url }}" class=" bg-blue-200 shadow-md rounded-md p-0.5">{{ tag }}</a></sup>
        {%- endif -%}
      {% endfor %}
    </li>
  {% endfor %}

</ol>
