<div class="flex container m-auto flex-col md:flex-row max-w-screen-lg text-gray-500">
  <a class="flex-none p-2 mx-auto" href="/"><img class="hover:animate-spin" alt="Logo" src="/img/logo.png" height="70"></a>
  <div class="flex flex-1 p-8 items-middle">
    {%- for entry in collections.all | eleventyNavigation %}
      <div class="flex-1 text-center my-auto">
        <a class="underline font-bold   hover:text-black" href="{{ entry.url | url }}">{{ entry.title }}</a>
      </div>
      <div class="flex-1 text-center my-auto">
        <p class="text-lg head-sep hover:animate-spin">&#x2E31</p>
      </div>
    {%- endfor %}
    <div class="flex-1 text-center my-auto  hover:text-black">
      <a class="underline font-bold" href="/joegame/desert-pass/">joegame</a>
    </div>
  </div>
</div>
