<div class="container mx-auto bg-hero max-w-7xl">
  <div class="p-16 align-top">
    <div class="p-8 bg-black align-middle m-auto">
      <h1 class="text-7xl text-white">{{ metadata.title }}</h1>
      <p class="text-white text-center p-4">A blog and repository for works from Mike Russo.</p>
    </div>
  </div>
</div>
